@import "../../../styles/colors";

.skeleton {
   width: 121px;
   height: 214px;
}

.characters {
   display: flex;
   flex-direction: column;
   row-gap: 27px;
   max-width: 1000px;

   //    svg {
   //       height: 35px;
   //       width: 35px;
   //       color: $main-color;
   //    }

   &__rows {
      //   background-color: var(--background-300);
      //   padding: 20px 25px;
      //   border-radius: 11px;
      //   box-shadow: var(--box-shadow-primary);
      // display: grid;
      // column-gap: 30px;
      // row-gap: 30px;

      // grid-template-columns: repeat(6, 112px);
      // grid-template-columns: minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px);
      // grid-template-columns: auto auto auto auto auto;
   }
}
