
.form {
    position: relative;
    height: 31vw;
    width: 30vw;
    background-color: rgb(36, 36, 36);
    padding: 10px 20px;
    border-radius: 17px;

    display: flex;
    flex-direction: column;
    row-gap: 100px;

    // animation: slideDown 0.4s;

    &__title {
        font-size: 30px;
        text-align: center;
        margin: 30px 0px 0px 0px;
    }

    &__column {
        margin: 0px 50px;
        display: flex;
        flex-direction: column;
        row-gap: 25px;
    }

    &__submit {
        text-align: center;
        background-color: rgba(197, 47, 47, 0.9);
        padding: 11px 20px;
        margin: 50px 0px 0px 0px;
        border-radius: 17px;
        color: rgba(255, 255, 255, 0.9);
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;
    }

    &__ref {
        display: flex;
        align-items: center;
        margin: 5px 0px 0px 0px;
        align-self: center;
        font-size: 17px;


        span {
            padding: 0px 10px;
            color: rgba(197, 47, 47, 0.9);
        }
   }
}