.anime {
  padding: 30px 0px 200px;
  display: flex;
  flex-direction: column;
  row-gap: 100px;

  &__reviews {
    background-color: var(--background-primary);
    // background-image: url("../../../assets//images/igris-solo-leveling.jpg");
    // background-repeat: no-repeat;
    // background-position: center 30%;
    // background-size: cover;
    padding: 40px 0 90px;
  }

  &__comments {
    background-color: var(--background-secondary);
  }
}

.reviews {

  &__container {
    margin-bottom: 50px;
  }
  &__row {

  }

  &__column {
    display: flex;
    flex-direction: column;
    row-gap: 29px;
  
  }
}
