@import "../../styles/colors";

.review {
    padding: 20px 25px;
    // background-color: rgba(183, 245, 183, 0.9);
    background-color: rgba(222, 248, 218, 0.9);
    color: $black;
    width: 500px;
    border-radius: 18px;

    display: flex;
    flex-direction: column;
    row-gap: 20px;
    
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        border-bottom: 1px solid rgba(115, 115, 115, 0.3);
        padding-bottom: 17px;
    }

    &__tag {
        font-weight: 600;
        font-size: 1.08em;
        margin-bottom: 10px;
    }

    &__body {
        line-height: 130%;
        
    }

    &__footer {
        display: flex;
        // justify-content: flex-end;
        column-gap: 15px;

        svg:first-of-type(1) {
            color: red;
        }
    }

    &__btn {
        font-size: 0.91em;
        padding: 7px 20px;
        font-weight: 600;
        border-radius: 17px;
        background-color: rgba(206, 206, 206, 0.7);
        cursor: pointer;

        display: flex;
        column-gap: 6px;

        &:hover {
            transform: scale(105%);
        }

        &_green {
            svg {
                color: green;
            }
        }

        &_red {
            svg {
                color: red;
            }
        }

    }
}

.user {
    display: flex;
    column-gap: 8px;

    &__image {
     
        width: 65px;
        height: 65px;
        overflow: hidden;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        row-gap: 7px;
    }

    &__name {
        font-weight: 600;
        font-size: 1.15em;
    }

    &__reviews-amount {
        color: $black-light;
        font-size: 0.95em;
    }
}