.search {
   display: flex;
   //   column-gap: 5px;
   width: 100%;
   //    max-width: 600px;
   background-color: var(--background-300);
   border-radius: 8px;
   //   transition: 0.4s ease-in-out !important;
   //    height: 46px;
   //   box-shadow: var(--box-shadow-primary);
   align-items: center;
   padding: 9px 10px;

   svg {
      width: 22px;
      height: 22px;
      cursor: pointer;
      color: var(--text-secondary);
      transition: 0.15s ease-in-out;

      &:hover {
         opacity: 0.85;
      }

      &:nth-child(2) {
      }

      path {
         stroke: var(--text-secondary);
      }
   }

   input {
      width: 100%;
      //  max-width: 520px;
      font-size: 0.85em;
      padding: 7px 10px;
      letter-spacing: 1px;
      background-color: transparent;
      color: var(--text-secondary);

      &:focus {
         outline: none;
         background-color: inherit;
      }
   }
}
