@import "../../../styles/media_queries";

.anime {
   min-height: 100vh;
   padding-top: 80px;

   &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      column-gap: 100px;

      @include for-medium-desktop-up {
         column-gap: 65px;
      }
   }

   &__title {
      font-size: 2.25em;
      font-weight: 500;
      margin: 50px 0px 0px 0px;
   }

   &__column {
      flex: 1 1 1050px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      // z-index: 2100;
   }

   &__lastRow {
      height: 80px;
      margin-top: 50px;
    //   background-color: red;
   }
}
