@import "../../../styles/media_queries";

.anime {
   min-height: 100vh;
   margin-top: 80px;

   &__container {
      margin: 0 auto;
      // width: 1500px;
      width: 100%;
      max-width: 1700px;
      // overflow: hidden;
      //   display: flex;
      //   align-items: flex-start;
      //   justify-content: space-between;
      //   column-gap: 100px;

      //   @include for-medium-desktop-up {
      //      column-gap: 65px;
      //   }
   }

   &__column {
      //   flex: 0 1 1050px;
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      // z-index: 2100;
   }

   &__lastRow {
      height: 80px;
      margin-top: 50px;
      //   background-color: red;
   }
}
