@import "../../../styles/media_queries";

.anime {
   display: flex;
   flex-direction: column;
   row-gap: 20px;
   // min-width: 603px;
   max-width: 424px;
   justify-self: flex-end;

   @include for-small-desktop-up {
      display: none;
   }
}

.skeleton__item-small {
   width: 424px;
   height: 139px;
   margin-bottom: 14px;
}
