.filter {
   width: 100%;
   max-width: 260px;

   display: flex;
   flex-direction: column;
   row-gap: 45px;

   &__block {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
   }

   &__title {
      font-size: 1.2em;
      font-weight: 600;
      padding-left: 7px;
   }

   &__folders {
      display: flex;
      flex-direction: column;
   }

   &__folder {
      font-size: 0.92em;
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 10px;
      padding: 13px 7px;
      border-radius: 6px;
      transition: backgroundColor 0.22s ease-in-out;
      cursor: pointer;

      &:hover {
         background-color: rgb(27, 27, 27);
      }

      &_active {
         background-color: var(--background-tertiary);

         &:hover {
            background-color: var(--background-tertiary);
         }
      }

      p {
         font-size: 1.08em;
      }

      span {
         font-size: 0.78em;
         color: var(--text-secondary);
      }
   }

   &__selects {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
   }

   &__clear {
    //   align-self: center;
    align-self: stretch;
      margin-top: 20px;

      border-radius: 50px;
      background-color: var(--main-color);
      padding: 11px 20px;

      color: var(--text-primary);
      font-weight: 600;
      font-size: 1em;

      width: 100%;
      max-width: 400px;
      //   max-height: 20px;

      transition: 0.3s;
      user-select: none;

      cursor: pointer;
      // justify-content: center;

      &:hover {
         opacity: 0.8;
      }

      &_cross {
         font-size: 16px;
         font-weight: 700;
         padding: 2px 0px 0px 0px;
      }
   }
}
