.input {
    // color: rgba(229, 226, 226, 0.8);
    color: var(--text-secondary);
    background-color: inherit;
    font-size: 1em;
    flex: 1 1 auto;
    height: 45px;
    padding: 8px 15px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    &:focus {
        outline: none;
        background-color: inherit;
    }

    &:active {
        
    }
}