.input {
    color: rgba(229, 226, 226, 0.8);
    background-color: #212121;
    font-size: 17px;
    flex: 1 1 auto;
    height: 45px;
    padding: 8px 15px;
    border-radius: 8px;

    transition: all 0.4s;

    &:focus {
        outline: none;
        background-color: inherit;
        // color: rgba(0, 0, 0, 1);
    }

    &:active {
        
    }
}