.MySelect {
    font-size: 20px;
    position: relative;

    display: flex;
    column-gap: 30px;
    align-items: center;

    &__body {
        display: inline-flex;
        align-items: center;
        
        border-radius: 7px;
        cursor: pointer;
        user-select: none;
        transition: all 0.3s;
        padding: 5px 2px;

        &:hover {
            background-color: rgba(34, 33, 33, 0.9);
        }

    }


    &__btn {
        font-size: 14px;
        font-weight: 600;
        padding: 0px 9px;
        color: inherit;
        text-transform: uppercase;
        background-color: inherit;
        cursor: pointer;
    }

    &__options {
        width: 250px;
        border-radius: 8px;
        background-color: rgb(46, 46, 46);
        padding: 15px 0px;
        position: absolute;
        top: 49px;
        left: 0;
        display: none;
        flex-direction: column;
        z-index: 50;
        // transition: height 1s ease;

        box-shadow: 0px 5px 11px 2px rgb(94, 94, 94);
    }

    &__option {
        cursor: pointer;
        padding: 16px 15px;
        font-size: 17px;
        transition: 0.2s;

        &:hover {
            background-color: rgba(83, 83, 83, 0.9);
        }
    }
}

.active {
    display: flex;
}

.selected {
    background-color: rgb(189, 60, 60);

    &:hover {
        background-color: rgb(189, 60, 60);
    }
}

.arrow {
    width: 30px;
    height: 30px;
    transition: transform 0.4s ease-in-out;
    // transform: rotate(180deg);
}

.rotate {
    transform: rotate(180deg);
}

.sortArrow {
    border-radius: 7px;
    font-size: 26px;
    cursor: pointer;
    padding: 5px 5px;
  

    svg {
        transition: 5s;
    }

    &:hover {
        background-color:rgba(34, 33, 33, 0.9)
    }
}