@import "../../styles/colors";

@keyframes scaleIn {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.MySelect {
  position: relative;
  font-size: 1.15em;

  display: flex;
  column-gap: 30px;
  align-items: center;

  &__body {
    display: inline-flex;
    align-items: center;

    border-radius: 7px;
    cursor: pointer;
    user-select: none;
    // transition: background 0.3s;
    padding: 5px 2px;

    &:hover {
      opacity: 0.8;
    }
  }

  &__btn {
    font-weight: 600;
    padding: 0px 9px;
    color: inherit;
    // text-transform: uppercase;
    background-color: inherit;
    cursor: pointer;
  }

  &__options {
    width: 250px;
    border-radius: 8px;
    // background-color: rgb(37, 37, 37);
    background-color: var(--background-secondary);
    padding: 9px 0px;
    position: absolute;
    top: 49px;
    left: 0;
    display: none;
    flex-direction: column;
    z-index: 2;
    // transition: height 1s ease;

    // box-shadow: 0px 5px 11px 2px rgb(94, 94, 94);

    animation: scaleIn 0.22s ease-in-out;
  }

  &__option {
    cursor: pointer;
    padding: 16px 15px;
    font-size: 0.8em;
    transition: 0.2s;

    &:hover {
      background-color: var(--hover-primary);
    }
  }
}

.active {
  display: flex;
}

.selected {
  background-color: $main-color-dark;

  &:hover {
    background-color: $main-color-dark;
  }
}

.arrow {
  width: 30px;
  height: 30px;
  transition: transform 0.4s ease-in-out;
  // transform: rotate(180deg);
}

.rotate {
  transform: rotate(180deg);
}

.sortArrow {
  border-radius: 7px;
  font-size: 1.3em;
  cursor: pointer;
  padding: 5px 5px;

  &:hover {
    opacity: 0.8;
  }
}
