@import "../../styles/colors";

.label {
   display: flex;
   flex-direction: column;
   row-gap: 8px;
   font-size: 16.8px;
   font-weight: 500;
}

.input {
   background-color: var(--background-100);
   color: var(--text-secondary);
   padding: 15px 8px;
   border-radius: 7px;
   font-size: 0.85em;
   margin-bottom: 6px;

   &:focus {
      outline: none;
   }

   &:-webkit-autofill,
   &:-webkit-autofill:hover,
   &:-webkit-autofill:focus {
      -webkit-fill: 0 0 0px 40rem var(--background-100) inset;
   }

   &::placeholder {
      color: $grey-medium-darker;
   }
}

.error {
   height: 25px;
   color: rgb(var(--color-main));
   font-size: 0.75em;
   margin-left: 2px;
   //   margin: 3px 0px 0px 0px;
}
