$dark-blue: rgba(13, 18, 22, 1);
$pink: rgba(204, 51, 79, 1);
$light-red: rgb(181, 62, 84);
$red: rgba(254, 0, 57, 1);
$white: rgba(255, 255, 255, 1);
$black: rgba(0, 0, 0, 1);

//! general colors

$main-color: rgb(254, 0, 57);
// $main-color-dark: rgb(221, 78, 78);

//! new color system


$black-default: rgb(0, 0, 0);
$black-100: rgb(24, 24, 24);
$black-300: rgb(37, 37, 37);


$black-coal: rgba(21, 21, 21, 0.9);

$blue: rgba(103, 132, 187, 0.1);
$blue-light: rgba(103, 132, 187, 0.04);

$grey-dark: rgba(57, 57, 57, 0.7);
$grey: rgb(118, 118, 118);
$grey-medium: rgb(146, 146, 146);
$grey-medium-darker: rgb(89, 89, 89);

$grey-light: rgb(72, 72, 72);
// $grey-light: rgba(243, 242, 242, 0.1);
$grey-thin: rgba(201, 201, 201, 0.8);

$green: #3bb33b;
$green-light: rgb(40, 221, 94);

$pearl: rgb(229, 235, 241);

$red: rgb(191, 31, 47);

$skeleton-light: rgba(202, 202, 202, 0.4);
$skeleton-dark: rgba(60, 60, 60, 0.4);

// neeed to change (ugly)
$white-default: rgb(250, 250, 250);
$white: rgb(237, 237, 237);
$white-light: rgb(216, 216, 216);
// $white: #dedede;
$white-snow: #e4e4e4;
$white-dark: rgba(255, 255, 255, 0.8);

//!? box shadows and borders

$border-thin-dark: 1px solid rgba(3, 3, 3, 0.14);
$border-thin-light: 1px solid rgba(255, 255, 255, 0.14);

$box-shadow-black-dark: rgba(10, 10, 10, 0.9) 0px 5px 15px -3px;
$box-shadow-black-light: rgba(32, 32, 33, 0.9) 0px 4px 20px 1px;

$box-shadow-white-dark: rgba(32, 32, 33, 0.9) 0px 4px 20px 1px;
$box-shadow-white-light: 0 14px 30px $blue, 0 4px 4px $blue-light;

//! old
$box-shadow-medium: 0px 2px 35px -2px rgba(119, 119, 119, 0.812);
$box-shadow-neu-light: 6px 6px 22px #7a797c, -6px -6px 22px #ffffff;
$box-shadow-neu-dark: 13px 13px 26px #2a2a2a, -13px -13px 26px #424242;

html {
   --color-blue-600: rgb(35, 159, 191);
   --color-blue-800: rgb(80, 134, 221);
   --color-blue-900: rgb(18, 95, 114);

   --color-green-600: rgb(202, 233, 98);
   --color-green-900: rgb(11, 103, 10);

   --color-grey-600: rgb(72, 72, 72);
   --color-grey-900: rgb(43, 43, 43);

   --color-neutral: rgba(214, 233, 246, 0.9);
   --color-negative: rgba(238, 185, 185, 0.9);

   --color-main: 254, 0, 57;

   //    --color-main-dark: rgb(221, 78, 78);
   //    --color-main: rgb(80, 134, 221);

   --color-positive: rgba(207, 238, 202, 0.9);

   --color-red-600: rgb(186, 29, 29);
   --color-red-900: rgb(134, 21, 21);
}

html[data-theme="light"] {
   --background-100: #{$pearl};
   //   --background-300: #{$white-snow};
   --background-300: #{$white-default};
   --background-500: #{$grey};
   --background-reverse: #{$black-100};
   --background-skeleton: #{$skeleton-light};

   --border-primary: #{$grey-thin};
   --box-shadow-primary: #{$box-shadow-white-light};
   --box-shadow-secondary: #{$box-shadow-white-dark};
   --box-shadow-neu: #{$box-shadow-neu-light};

   --hover-primary: #{$white-light};

   --text-primary: #{$black-300};
   --text-secondary: #{$black-300};
   --text-tertiary: #{$grey-medium};
   --text-reverse: #{$white};

   // --border-primary: #{$grey-light};
   // --border-secondary: #{$border-thin-dark};

   // --box-shadow-primary: #{$box-shadow-dark};
   // --box-shadow-secondary: #{$box-shadow-medium};
   // --box-shadow-neu: #{$box-shadow-neu-light};
}

html[data-theme="dark"] {
   --background-100: #{$black-100};
   --background-200: rgb(28, 28, 28);
   --background-300: #{$black-300};
   --background-400: rgb(49, 49, 49);

   --background-500: #{$grey-light};
   --background-reverse: #{$white-snow};
   --background-skeleton: #{$skeleton-dark};

   --border-primary: #{$grey-light};
   --box-shadow-primary: #{$box-shadow-black-dark};
   --box-shadow-secondary: #{$box-shadow-black-light};
   --box-shadow-neu: #{$box-shadow-neu-dark};

   --hover-primary: #{$grey-dark};

   --text-primary: #{$white};
   --text-secondary: #{$white-dark};
   --text-tertiary: #{$grey-medium};
   --text-reverse: #{$black-300};

   // --border-primary: #{$grey-dark};
   // --border-secondary: #{$border-thin-light};

   // --box-shadow-primary: #{$box-shadow-light};
   // --box-shadow-secondary: #{$box-shadow-medium};
   // --box-shadow-neu: #{$box-shadow-neu-dark};
}
