



.anime {
    transition: 0.4s;
    padding: 6px 6px;
    border: 1px solid rgba(119, 119, 119, 0);
    border-radius: 19px;
    max-width: 18vw;
    height: 26vw;
    font-size: 27px;
    position: relative;

    &:hover {
        
        cursor: pointer;
        border: 1px solid rgba(186, 186, 186, 0.4);


        .anime__block {
            background-color: rgba(0, 0, 0, 0.3);
        }

        .anime__synopsis {
            opacity: 1;
            max-height: 80px;
        }
    }

    &__body {
        border-radius: 19px;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-end;
    }

    &__block {

        transition: all 0.5s;
        // justify-self:
        padding: 20px 15px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 17px;
    }

    &__title {
        text-shadow: 3px 3px 15px rgb(0, 0, 0);
        font-size: 1em;
        font-weight: 600;
    }

    &__synopsis {
        font-size: 0.6em;
        font-weight: 600;
        line-height: 125%;
        text-shadow: 0px -1px 2px rgb(0, 0, 0);
        display: block;
        opacity: 1;
        max-height: 0px;
        overflow-y: hidden;
        overflow-y: hidden;
        transition-duration: 0.25s;
        transition-property: max-height, opacity;
        transition-timing-function: ease-in-out, ease-in-out;
    }

    &__details {
        text-shadow: 3px 3px 15px rgb(0, 0, 0);
        font-weight: 600;
        font-size: 0.6em;

        display: flex;
        column-gap: 10px;
    }

    &__genre {
        &:not(:last-child)::after {
            content: ',';
        }
    }

    &__arrow {
        padding: 25px 0px;
        border-top: 1px solid rgba(255, 255, 255, 1);

        svg {
            // fill: rgba(195, 55, 55, 0.9);
            color: rgb(228, 228, 228);
            background-color: rgba(0, 0, 0, 0.9);
            border-radius: 51%;
            height: 32px;
            width: 32px;
            font-weight: 600;
            font-size: 22px;
        }
    }
}

.active {
    display: flex;
}


@media (max-width: 1900px) {
    .anime {
        max-width: 500px;
        height: 490px;
    }
}

@media (max-width: 1775px) {
    .anime {
        height: 30vw;
    }
}


@media (max-width: 1300px) {
    .anime {
        height: 40vw;
    }
}

@media (max-width: 1200px) {
    .anime {
        font-size: 21px;

        &__block {
            row-gap: 11px;
        }
    }
}

@media (max-width: 910px) {
    .anime {
        font-size: 19px;

        &__synopsis {
            display: none;
        }

        &__block {
            row-gap: 10px;
        }

        &__arrow {
            padding: 10px 0px;

            svg {
                height: 26px;
                width: 26px;
            }
        }
    }
}

@media (max-width: 720px) {
    .anime {
        height: 60vw;
    }
}

@media (max-width: 510px) {
    .anime {
        font-size: 15px;
    }

}

// @media (max-width: 560px) {
//     .anime {
//         font-size: 14px;

//         &__block {
//             margin-bottom: 15px;
//         }

//         &__arrow {
//            display: none;
//         }
//     }
// }