.anime-info {
    display: flex;
    flex-direction: column;
    row-gap: 60px;

    &__title {
        display: flex;
        flex-direction: column;
        row-gap: 12px;
        
        &_en {
            font-size: 39px;
        }

        &_jp {
            opacity: 0.7;
            font-size: 15px;
        }
    }

    &__rows {
        display: flex;
        flex-direction: column;
        // row-gap: 20px;

        &>:not(:last-child) {
            border-bottom: 1px solid rgba(239, 237, 237, 0.2);
        }
    }
}