.anime-details {
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 1);

    padding: 60px 0px;

}

.description {
   
    display: flex;
    flex-direction: column;
    row-gap: 19px;

    &__title {
        // color: rgba(204, 51, 79, 1);
        color: rgba(0, 0, 0, 1);
        font-size: 27px;
        font-weight: 600;
    }

    &__body {
        font-size: 17px;
        line-height: 150%;
    }
}