.anime-card {
    // background-color:  linear-gradient(to top, transparent 0%, rgb(196, 19, 19) 98%);  
    padding: 0px 0px 120px 0px;


    &__header {
        position: absolute;
        top: 0;
        left: 0;
        // height: 400px;
        width: 100%;
        z-index: 2;
       
    }

    &__background {
        height: 26vw;
        position: relative;
        user-select: none;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            // background: linear-gradient(to bottom, transparent 0%, rgba(191, 55, 55, 0.5) 93%);  
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            // background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.4) 100%);
        }
    }

    &__container {
        position: relative;
        margin-top: 22.5vw !important;
        // min-height: 1000px;
        z-index: 10;
    }

    &__main {
        column-gap: 60px;
        display: flex;
    }

    &__media {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        flex: 1 1 27%;

        max-width: 250px;
        max-height: 450px;

        // max-width: 360px;
        // max-height: 240px;

    }

    &__image {
        // border: 2px solid rgba(254, 0, 57, 1);
        cursor: pointer;
        flex: 1 1 auto;
        position: relative;
        user-select: none;

      

        &:hover {
            .search-loupe {
                opacity: 0.7;
            }
            
        }
        
        img {
            border-radius: 13px;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .search-loupe {
            transition: all 0.4s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        
            border-radius: 50%;
            height: 110px !important;
            width: 110px !important;
        }
        
        
    }

    &__dropmenu {
        width: 100%;
    }

    &__body {
        flex: 0 1 52%;
    }

    &__score {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .scoredBy {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
        }

        .rate {
            background-color: rgb(40, 40, 40);
            border-radius: 15px;

            transition: all 0.2s;
            font-size: 16px;
            line-height: 120%;

            padding: 7px 55px;
            margin-top: 30px;
            text-align: center;

            cursor: pointer;

            &:hover {
                background-color: rgb(48, 49, 49);
                // color: rgba(255, 255, 255, 0.8);
                transform: scale(1.1);
            }
        }
    }
}
