.anime {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // height: 100%;
    border-radius: 7px;
    cursor: pointer;
    // width: 20px;
 

    &__image {
        // max-height: 340px;
        // max-width: 250px;
        // max-height: 273px;
        flex: 1 1 273px;
        // border-radius: 13px;
        // border-radius: px !important;
        // border: 2px solid red;
        border-radius: 14px ;
        border: 0.5px solid rgba(255, 255, 255, 0.1);
        overflow: hidden;
        // max-width: 188px;
        width: inherit;
        img {
            // border-radius: 13px;
        }

        
    }

    &__title {
        width: inherit;
        overflow-wrap: break-word;
        // max-width: 188px;
        font-size: 15px;
        color: rgb(255, 255, 255);
        transition: 0.2s;
        cursor: pointer;
    }
}