.row {
   
    
    column-gap: 35px;
    display: flex;
    font-size: 17px;

    line-height: 120%;

    padding: 16px 0px;

    &__name {
        flex: 0 1 25%;
        font-weight: 500;
        color: rgba($color: #eae8e8, $alpha: 0.9);
    }

    &__value {
        display: flex;
        column-gap: 11px;
        color: rgba($color: #eae8e8, $alpha: 0.8);
    }

    &__genre {
        
        // color: rgba($color: #efeded, $alpha: 0.7);

        &:not(:last-child)::after {
            content: ',';
            color: rgba($color: #ffffff, $alpha: 0.7);
        }

    }
}