.anime {

    &__container {
        // background-color: white;
        // border: 2px solid white;
        min-height: 1000px;
        display: flex;
        flex-direction: column;
        row-gap: 35px;
    }

    &__title {
        font-size: 41px;
        font-weight: 500;
        margin: 50px 0px 0px 0px;
    }

    &__block {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        column-gap: 30px;
    }

    &__column {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__filter {
        flex: 0 1 300px;
        max-width: 440px;
        // background-color: white;
    }

    &__lastRow {
        height: 100px;
    }
}