.anime {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    // height: 100%;
    border-radius: 7px;

    &:hover {
        .anime__title {
            color: rgb(178, 57, 63);
        }
    }

    &__image {
        // max-height: 340px;
        // max-width: 250px;
        max-width: 188px;
        max-height: 273px;
        flex: 1 1 273px;
        // border-radius: 13px;
      
       
        img {
            border-radius: 13px;
        }

        
    }

    &__title {
        font-size: 16px;
        color: rgb(215, 215, 215);
        transition: 0.2s;
        cursor: pointer;
    }
}