.anime-card {

    &__header {
        position: absolute;
        top: 0;
        left: 0;
        // height: 400px;
        width: 100%;
        z-index: 2;
       
    }

    &__background {
        height: 27vw;
        position: relative;
        user-select: none;

        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0; left: 0;
            background: linear-gradient(to bottom, transparent 0%,  rgba(10, 10, 10, 1) 92%);
           
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            object-fit: cover;
            
            // background: linear-gradient(to bottom, transparent 0%,  rgba(0,0,0,0.4) 100%);
        }
    }

    &__container {
        position: relative;
        margin-top: 22.5vw !important;
        // min-height: 1000px;
        z-index: 10;
    }

    &__main {
        column-gap: 60px;
        display: flex;
    }

    &__media {
        display: flex;
        flex-direction: column;
        row-gap: 25px;

        flex: 1 1 27%;

        max-width: 270px;
        max-height: 450px;

        // max-width: 360px;
        // max-height: 240px;

    }

    &__image {
        // border: 2px solid rgba(254, 0, 57, 1);
        cursor: pointer;
        flex: 1 1 auto;
        position: relative;
        user-select: none;

        &:hover {
            .search-loupe {
                opacity: 0.7;
            }
            
        }
        
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .search-loupe {
            transition: all 0.4s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            opacity: 0;
        
            border-radius: 50%;
            height: 110px !important;
            width: 110px !important;
        }
        
        
    }

    &__dropmenu {
        width: 100%;
    }

    &__body {
        flex: 0 1 52%;
    }

    &__score {
        display: flex;
        flex-direction: column;
        row-gap: 5px;

        .score {
            color: rgba(24, 175, 69, 1);
            font-size: 30px;
            font-weight: 500;
            line-height: 120%;
        }

        .scoredBy {
            font-size: 13px;
            color: rgba(255, 255, 255, 0.8);
        }
    }
}


.footer {
    margin: 100px 0px 0px 0px;

    &__title {
        color: rgba(255, 255, 255, 0.9);
        font-size: 23px;
        font-weight: 500;
    }

    &__video {
        // flex: 1 1 400px;
        position: relative;
        padding: 0px 0px 15% 0px;

        max-width: 400px;
        max-height: 260px;

        min-width: 320px;
        min-height: 180px;
        margin: 20px 0px;
    
        iframe {
            object-fit: cover;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
        }
    }
}