// !-------------------------------------------------------imports---------------------------------------------------
// reset styles
@import "./_reset.scss";
@import "./_colors.scss";
@import "./media_queries";

// fonts
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700;800&display=swap");

// !-------------------------------------------------------general---------------------------------------------------

#root {
//    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif,
//       "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

    font-family: Overpass,-apple-system,BlinkMacSystemFont,Segoe UI,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
      
   background-color: var(--background-secondary);
   // background-image: linear-gradient(90deg, #fee140 0%, #fa709a 100%);
   // background-color: rgb(17, 18, 19);
   color: var(--text-primary);
   // overflow: hidden;
   //   overflow-x: hidden;

   line-height: 1;
   font-size: 16px;

   @include for-full-hd {
      font-size: 14px;
   }

   @include for-medium-desktop-up {
      font-size: 14px;
   }

   @include for-small-desktop-up {
      font-size: 12px;
   }

   @include for-hd {
      font-size: 11px;
   }

   @include for-tablet-landscape-up {
      font-size: 10px;
   }

   @include for-phone-only {
      font-size: 9px;
   }

   a:visited {
      color: inherit;
   }
}

.App {
   min-height: 101vh;
   display: flex;
   flex-direction: column;

   &::-webkit-scrollbar {
      width: 11px;
   }

   &::-webkit-scrollbar-track {
      background: #eaeff1;
   }

   &::-webkit-scrollbar-thumb {
      background-color: rgb(161, 161, 161);
      // background: repeating-linear-gradient(90deg, #c733bb, #bb3c47 2px, #d8373f 5px, #963c3c 15px);
      border-radius: 1px;
      // border: 3px double #cb4f4f;
      transition-property: border;
      transition-duration: 1s;
   }
}

._container {
   max-width: 1440px;
   // max-width: 70vw;
   margin: 0 auto;

   @include for-full-hd {
      padding: 0 20px;
   }

   @include for-phone-only {
      padding: 0 9px;
   }
}

._container-main {
   // max-width: 86vw;
   max-width: 1700px;
   // max-width: 70vw;
   margin: 0 auto;
   padding: 0 20px;

   @include for-full-hd {
      max-width: 1440px;
      //   padding: 0 20px;
   }

   //    @include for-full-hd {
   //       padding: 0 20px;
   //    }

   @include for-phone-only {
      padding: 0 9px;
   }
}

// Y

// @import "./react-select.scss";

// !--------------------------------------------------------media----------------------------------------------------

// @media (max-width: 1850px) {
//     .App {
//       padding: 0px 25px;
//     }
//   }

//   @media (max-width: 1000px) {
//     .App {
//       padding: 0px 10px;
//     }
//   }

//   @media (max-width: 800px) {
//   }
