.navbar {

    display: flex;
    align-items: center;
    column-gap: 50px;

    padding: 10px 0px;

    &__logo {
        cursor: pointer;
        img {
            height: 52px;
        }
    }

    &__links {
        display: flex;
        column-gap: 25px;
    }

    &__link {
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 0.1s;
        
        cursor: pointer;
        color: rgba(255, 255, 255, 0.5);

        &:hover {
            color: rgba(255, 255, 255, 0.8);
        }
    }

    &__search {
        max-width: 600px;
        flex: 1 1 auto;
        margin: 0px 0px 0px 100px;
    }

    &__profile {
        
        cursor: pointer;
        padding: 5px;
        margin-left: auto;

        img {
            border-radius: 50%;
            height: 64px;
            width: 64px;
        }
    }
}

.active {
    color:rgba(255, 255, 255, 1)
}
