@keyframes scaleIn {
	0% {
		opacity: 0;
		transform: scale(0.9);
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

.custom-select {
	&__control {
		background-color:  #212121 !important;
		border: none !important;
		border-radius: 0 !important;
		border-bottom: 1px solid #212121 !important;
		box-shadow: none !important;

        padding: 8px 10px !important;
        transition: 0.4s ease-in-out !important;
        border-radius: 1px !important;

		&--menu-is-open {
			border-color: #e42c64 !important;
		}
	}

	&__value-container {
		padding: 0 !important;
		cursor: pointer !important;
	}

	&__input-container {
		color: #999aa5 !important;
    
	}

	&__indicator-separator {
		display: none !important;
	}

	&__indicators {
		cursor: pointer !important;
	}

	&__indicator {
		color: #66676e !important;
        

		&:hover {
            // transform: rotate(180deg);
			color: #999aa5 !important;
		}
	}

    &__single-value {
        // font-size: 80% !important;
		color: rgba(white, 0.7) !important;
        font-size: 17px !important;
        padding: 5px 7px !important;
    }

	&__multi-value {
		background-color: rgba(#999aa5, 0.3) !important;
		border-radius: 0.5rem !important;
        border-radius: 13px !important;
	}

	&__multi-value__label {
		font-size: 80% !important;
		color: rgba(white, 0.7) !important;

       
        font-size: 15px !important;
        padding: 8px 10px !important;
	}

	&__multi-value__remove {
		color: rgba(white, 0.8) !important;
        transform: scale(1.1);

		&:hover {
			background-color: transparent !important;
			color: white !important;
		}
	}

	&__menu {
        background-color:  #212121 !important;
		color: rgba(white, 0.6) !important;
		animation: scaleIn 0.35s ease-in-out !important;
        
        // box-shadow: 0px 2px 8px 4px rgb(37, 37, 37) !important;
        border-radius: 13px !important;
	}

	&__option {
        padding: 13px !important;
		cursor: pointer !important;
		&--is-focused {
			background-color: lighten(#292a2e, 8%) !important;
		}
	}

	&-container {
		> div {
			outline: none !important;
			box-shadow: none !important;
		}

		&:hover,
		&--menu-is-open {
			border-color: #ced4da !important;
		}
	}
}
