.input {
    padding: 13px 8px;
    background-color: #212121;
    font-size: 17px;
    color: rgba(white, 0.7);
    // cursor: text;

    &:focus, &:active {
        outline: none;
        background-color: rgba($color: #2c2b2b, $alpha: 1.0);
    }
}