.image {
    position: relative;
    user-select: none;
    // min-height: 180px;
    // min-width: 300px;
    display: block;
    height: 100%;
    // height: auto;
    // border-radius: inherit;

    // img {
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     height: 100%;
    //     width: 100%;
    //     object-fit: cover;
       
    //     // object-position:center;
    // }
}

.rating {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 25px;
    left: -5px;

    color: black;
    background-color: #ffd400;

    height: 28px;
    padding: 13px 11px;
    // z-index: 1;
}

.ratingNumber {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;  
}

.ratingNumber::before {
    font-size: 18px;
    content: '★';

    margin: 0px 3px 0px 0px;
}