.image {
    position: relative;
    user-select: none;
    overflow: hidden;
    // height: 100%;
    padding-bottom: 142%;

    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
}

.rating {
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 25px;
    left: -2px;

    color: black;
    background-color: #ffd400;

    height: 28px;
    padding: 13px 11px;
    // z-index: 1;
}

.ratingNumber {
    font-size: 0.82em;
    line-height: 20px;
    font-weight: 700;  
}

.ratingNumber::before {
    font-size: 1.15em;
    content: '★';

    margin: 0px 3px 0px 0px;
}