.profile {
   min-height: 100vh;
   // background-color: green($color: #1d9e77);
   background-color: var(--background-100);
   padding-bottom: 100px;
   // background-image: url(../../assets/images/anime-voice.jpg);
   // background-image: url("../../assets/images/diagmonds.webp");
}
