@import "../../styles/colors";

.wrapper {
   display: flex;
   align-items: center;
   column-gap: 5px;

   width: fit-content;
}

.title {
   // color: rgb(255, 255, 255);
   font-size: 1.3em;
   font-weight: 600;
   word-spacing: 2px;

   //    background-color: var(--background-300);
   //    padding: 10px 15px;

   &::before {
      content: "";
      margin-right: 8px;
      vertical-align: middle;
      border-right: 4px solid rgb(var(--color-main));
   }
}

.amount {
   color: var(--text-secondary);
   font-size: 1.15em;
   margin-bottom: 4px;
}

.link {
   cursor: pointer;

   svg {
      width: 30px;
      height: 30px;
   }

   &:hover {
      opacity: 0.8;
   }
}
