@import "../../styles/colors";

.wrapper {
   display: flex;
   align-items: center;
   column-gap: 5px;
}

.title {
   // color: rgb(255, 255, 255);
   font-size: 1.3em;
   font-weight: 600;
   word-spacing: 2px;

   &::before {
      content: "";
      margin-right: 8px;
      vertical-align: middle;
      border-right: 4px solid $main-color;
   }
}

.link {
   cursor: pointer;

   svg {
      width: 40px;
      height: 40px;
   }

   &:hover {
      opacity: 0.8;
   }
}
