@import "../../../styles/colors";

.filter {
   // background-color: rgb(84, 84, 84);
   margin: 0 0 50px;
   //    background-color: var(--background-secondary);
   //    padding: 15px 10px;
   border-radius: 17px;
   z-index: 2;
 

   &__container {
      //   display: flex;
      //   column-gap: 10px;
      //   flex-wrap: wrap;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      //   border: 0.3mm solid var(--text-secondary);
      //   background-color: var(--background-secondary);
      //   height: auto;
   }

   //    &__row {
   //       display: flex;
   //       justify-content: space-between;
   //       align-items: center;
   //    }

   &__title {
      letter-spacing: 1px;
      font-size: 20px;
   }

   &__rows {
      // background-color: #212121 !important;
      display: flex;
      column-gap: 25px;
      row-gap: 15px;
      flex-wrap: wrap;
      justify-content: stretch;

      & > label {
         display: flex;
         flex-direction: column;
         row-gap: 8px;
         font-weight: 600;
         opacity: 0.95;
         // margin-left: 10px;
         // justify-content: flex-start;

         & > * {
            font-weight: 400;
         }
      }

      & > * {
         width: 100%;
         max-width: 220px;
      }
   }

   &__block {
      letter-spacing: 1px;
      font-size: 20px;
      margin: 20px 0px 0px 0px;

      &_inputs {
         display: flex;
         column-gap: 10px;

         .input {
            padding: 15px 10px 13px;
            // background-color: #212121;
            background-color: var(--background-secondary);
            font-size: 17px;
            color: var(--text-secondary);

            max-width: 49%;
            border-radius: 7px;

            &:focus,
            &:active {
               outline: none;
               //   background-color: rgba($color: #2c2b2b, $alpha: 1);
               //   opacity: 0.9;
            }
         }
      }
   }

   &__clear {
      align-self: center;
      margin-top: 20px;

      border-radius: 50px;
      background-color: $main-color;
      padding: 11px 20px;

      color: var(--text-primary);
      font-weight: 600;
      font-size: 1em;

      width: 100%;
      max-width: 130px;
      //   max-height: 20px;

      transition: 0.3s;
      user-select: none;

      cursor: pointer;
      // justify-content: center;

      &:hover {
         opacity: 0.8;
      }

      &_cross {
         font-size: 16px;
         font-weight: 700;
         padding: 2px 0px 0px 0px;
      }
   }
}
