@import "../../../styles/colors";

@keyframes scaleIn {
   0% {
      opacity: 0;
      transform: scale(0.9);
   }
   50% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

.filter {
   // background-color: rgb(84, 84, 84);
   margin: 0 0 50px;
   //    background-color: var(--background-secondary);
   //    padding: 15px 10px;
   border-radius: 17px;
   z-index: 2;

   &__container {
      //   display: flex;
      //   column-gap: 10px;
      //   flex-wrap: wrap;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;

      //   border: 0.3mm solid var(--text-secondary);
      //   background-color: var(--background-secondary);
      //   height: auto;
   }

   //    &__row {
   //       display: flex;
   //       justify-content: space-between;
   //       align-items: center;
   //    }

   &__title {
      letter-spacing: 1px;
      font-size: 20px;
   }

   &__row {
      // background-color: #212121 !important;
      display: flex;
      column-gap: 30px;
      row-gap: 15px;
      width: 100%;
      //   flex-wrap: wrap;
      //   justify-content: stretch;
      //   width: 100%;

      & > label {
         display: flex;
         flex-direction: column;
         row-gap: 8px;
         font-weight: 600;
         //  opacity: 0.95;
         // margin-left: 10px;
         // justify-content: flex-start;

         & > * {
            font-weight: 400;
         }
      }

      & > * {
         width: 100%;
         max-width: 220px;
      }
   }

   &__search {
      display: flex;
      //   column-gap: 5px;
      width: 100%;
      max-width: 220px;
      background-color: var(--background-secondary);
      border-radius: 8px;
      transition: 0.4s ease-in-out !important;
      height: 46px;
      box-shadow: var(--box-shadow-primary);
      align-items: center;
      padding: 0px 10px;

      svg {
         width: 20px;
         height: 20px;
         cursor: pointer;
         color: var(--text-secondary);
         transition: 0.15s ease-in-out;

         &:hover {
            opacity: 0.85;
         }

         path {
            stroke: var(--text-secondary);
         }
      }

      input {
         width: 100%;
         max-width: 145px;
         font-size: 0.85em;
         padding: 7px 10px;
         letter-spacing: 1px;
         background-color: transparent;
         color: var(--text-secondary);

         &:focus {
            outline: none;
            background-color: inherit;
         }
      }
   }

   &__options {
      position: relative;

      background-color: var(--background-secondary);
      width: min-content;

      padding: 10px 13px;
      border-radius: 8px;
      margin-top: 23px;
      cursor: pointer;
      box-shadow: var(--box-shadow-primary);

      align-self: center;
      justify-self: flex-end;

      margin-left: auto;

      &:hover {
         & > svg {
            color: $main-color-dark;
         }
      }

      & > svg {
         font-size: 1.25em;
         transform: rotate(90deg);
         stroke-width: 18px;
         transition: all 0.2s ease-in-out;
         color: var(--text-secondary);
      }
   }

   //    &__block {
   //       letter-spacing: 1px;
   //       font-size: 20px;
   //       margin: 20px 0px 0px 0px;

   //       &_inputs {
   //          display: flex;
   //          column-gap: 10px;

   //          .input {
   //             padding: 15px 10px 13px;
   //             // background-color: #212121;
   //             background-color: var(--background-tertiary);
   //             font-size: 17px;
   //             color: var(--text-secondary);

   //             max-width: 49%;
   //             border-radius: 7px;

   //             &:focus,
   //             &:active {
   //                outline: none;
   //                //   background-color: rgba($color: #2c2b2b, $alpha: 1);
   //                //   opacity: 0.9;
   //             }
   //          }
   //       }
   //    }

   &__clear {
      align-self: center;
      margin-top: 20px;

      border-radius: 50px;
      background-color: $main-color;
      padding: 11px 20px;

      color: var(--text-primary);
      font-weight: 600;
      font-size: 1em;

      width: 100%;
      max-width: 130px;
      //   max-height: 20px;

      transition: 0.3s;
      user-select: none;

      cursor: pointer;
      // justify-content: center;

      &:hover {
         opacity: 0.8;
      }

      &_cross {
         font-size: 16px;
         font-weight: 700;
         padding: 2px 0px 0px 0px;
      }
   }
}

.menu {
   position: absolute;
   top: 65px;
   right: 0px;
   cursor: default;

   background-color: var(--background-secondary);
   box-shadow: var(--box-shadow-primary);
   padding: 40px 40px;
   animation: scaleIn 0.3s ease-in-out;
   border-radius: 8px;

   width: 550px;
   max-width: 750px;

   display: none;

   &__sliders {
      display: flex;
      column-gap: 45px;
      justify-content: space-between;
   }

   &__slider {
      //   position: relative;
      //   width: 500px;
      //   height: 100px;
      //   margin-top: 30px;
   }

   &__options {
      // background-color: #212121 !important;
      display: flex;
      column-gap: 45px;
      row-gap: 15px;

      //   flex-wrap: wrap;
      //   justify-content: stretch;
      //   width: 100%;

      & > label {
         display: flex;
         flex-direction: column;
         row-gap: 8px;
         font-weight: 600;
         //  opacity: 0.95;
         // margin-left: 10px;
         // justify-content: flex-start;

         & > * {
            font-weight: 400;
         }
      }

      & > * {
         width: 100%;
         max-width: 220px;
      }
   }
}

.visible {
   display: flex;
   flex-direction: column;
   row-gap: 60px;
}
