@import "../../../styles/colors";

@keyframes scaleIn {
   0% {
      opacity: 0;
      transform: scale(0.9);
   }
   50% {
      opacity: 0.3;
   }
   100% {
      opacity: 1;
      transform: scale(1);
   }
}

// @keyframes growHeight {
//    0% {
//       // opacity: 0;
//       visibility: 0;
//       height: auto !important;
//       max-height: 0px !important;
//    }
//    50% {
//       //    opacity: 0.8;
//    }
//    100% {
//       //    opacity: 1;
//       visibility: visible;
//       max-height: 500px !important;
//    }
// }

.custom-select {
   &__control {
      background-color: var(--background-secondary) !important;
      border: none !important;
      border-radius: 0 !important;
      //   border-bottom: 1px solid #212121 !important;
      box-shadow: var(--box-shadow-primary) !important;

      padding: 5px 10px !important;
      transition: 0.4s ease-in-out !important;
      border-radius: 8px !important;
      font-size: 0.85em;

      &--menu-is-open {
         //  border-color: $main-color !important;

         .custom-select__indicator {
            &:nth-last-child(1) {
               transform: rotate(180deg) !important;
               transition: transform 0.4s ease-in-out !important;
            }
         }
      }
   }

   &__value-container {
      padding: 0 !important;
      cursor: pointer !important;
      font-weight: 600 !important;

      &--has-value {
         .custom-select__indicators {
            display: none !important;
         }
      }

      &--is-multi {
         & > div:not(:nth-child(-n + 2)) {
            display: none !important;
            // background-color: green !important;
         }

         & > div:nth-child(-n + 2) {
            display: flex !important;
            width: min-content !important;
            // background-color: green !important;
         }

         & > div:last-child {
            display: inline-grid !important;
            // background-color: rgb(86, 186, 236) !important;
         }
      }
   }

   &__input-container {
      // color: #999aa5 !important;
      color: var(--text-primary) !important;
   }

   &__indicator-separator {
      display: none !important;
      //   opacity: 0.3 !important;
   }

   &__indicators {
      cursor: pointer !important;
   }

   &__indicator {
      color: var(--text-primary) !important;

      &:hover {
         // transform: rotate(180deg);
         color: var(--text-secondary) !important;
      }
   }

   &__dropdown-indicator {
      transition: transform 0.4s ease-in-out !important;
   }

   &__single-value {
      //   color: var(--text-primary) !important;
      color: $main-color-dark !important;
      letter-spacing: 0.3px !important;

      padding: 3px 0px !important;
   }

   &__multi-value {
      background-color: var(--background-tertiary) !important;
      border-radius: 0.1rem !important;
      border-radius: 10px !important;
      display: flex !important;

      &:nth-child(1) {
         margin-left: 0px;
      }

      &:nth-child(2) {
         margin-left: 0px;
      }
   }

   &__multi-value__label {
      color: var(--text-primary) !important;
      font-size: 0.97em !important;
      padding: 4px 7px !important;
   }

   &__multi-value__remove {
      color: var(--text-primary) !important;
      transform: scale(1.1);

      &:hover {
         background-color: var(--background-primary) !important;
         color: var(--text-primary) !important;
      }
   }

   &__menu {
      z-index: 2 !important;
      //   background-color: #212121 !important;
      background-color: var(--background-secondary) !important;
      color: var(--text-primary) !important;
      animation: scaleIn 0.3s ease-in-out !important;
      border-radius: 11px !important;
      box-shadow: var(--box-shadow-secondary) !important;

      &-list {
         background-color: var(--background-secondary) !important;
         //  max-height: 500px !important;
         //  height: 100% !important;
         height: auto !important;
         max-height: 500px !important;
         border-radius: 11px !important;
         opacity: 1 !important;
         //  height: auto !important;
         //  max-height: 500px !important;

         &::-webkit-scrollbar {
            width: 11px !important;
         }

         &::-webkit-scrollbar-track {
            background: #eaeff1 !important;
         }

         &::-webkit-scrollbar-thumb {
            background-color: rgb(161, 161, 161) !important;
            // background: repeating-linear-gradient(90deg, #c733bb, #bb3c47 2px, #d8373f 5px, #963c3c 15px);
            border-radius: 1px !important;
            // border: 3px double #cb4f4f;
            transition-property: border !important;
            transition-duration: 1s !important;
         }
      }
   }

   &__option {
      position: relative !important;
      padding: 12px 15px !important;
      cursor: pointer !important;
      transition: all 0.35s ease-in-out !important;
      font-size: 0.87em !important;
      border-radius: 11px !important;

      &:hover {
         background-color: var(--background-tertiary) !important;
         color: $main-color-dark !important;
      }

      &--is-focused {
         background-color: transparent !important;
      }

      &--is-selected {
         background-color: transparent !important;

         &:hover {
            background-color: var(--background-tertiary) !important;
         }

         &::after {
            content: "✔" !important;
            position: absolute;
            vertical-align: middle;
            //  top: 10px;
            right: 20px;
            padding: 4px;
            background-color: $main-color-dark;
            color: $white;
            border-radius: 50%;
            font-weight: 600;
            font-size: 0.7em;
         }
      }

      //   &--is-selected::after {
      //   }
   }

   &-container {
      > div {
         outline: none !important;
         box-shadow: none !important;
      }

      &:hover,
      &--menu-is-open {
         //  border-color: var(--background-primary) !important;
      }
   }
}
