.footer {
    min-height: 120px;
    border-top: 1px solid red;
    // background-color: rgb(15, 17, 19);
    margin-top: auto;

    &__body {
     
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__column {
        margin: 50px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__brandname {
        color: white;
        font-size: 30px;
        font-weight: 600;
    }

    &__info {
        color: rgba(198, 198, 198, 0.9);
        font-size: 15px;
        font-weight: 600;
    }

    &__copyright {
        font-size: 13px;
        color: rgba(198, 198, 198, 0.9);
    }

    &__contacts {
        // margin: 50px 0px 0px 0px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    &__label {
        font-size: 23px;
    }

    &__links {
        display: flex;
        flex-direction: column;
        row-gap: 8px;
    }

    &__link {
        font-size: 17px;
    }

    &__image {
        margin: 10px 0px 0px 0px;
    }
}