@import "../../../styles/media_queries";
@import "../../../styles/colors";

$trailer_width: 476px;
$trailer_height: 267px;

.anime-details {
   //   background-color: var(--background-secondary);
   // background-color: rgba(238, 243, 241, 0.9);
   // color: rgb(255, 255, 255);
   padding: 60px 0px 0px;

   @include for-small-desktop-up {
      &__main {
         max-width: 100%;
      }

      &__sidebar {
         display: none;
      }
   }

   &__container {
      display: flex;
      column-gap: 90px;
      align-items: flex-start;
      justify-content: space-between;
      //   flex-direction: row;
   }

   &__main {
      max-width: 68%;
      // flex: 0 1 70%;
      display: flex;
      flex-direction: column;

      & > div {
         margin-bottom: 120px;
      }

      & > div:last-child {
         margin-bottom: 70px;
      }

      @include for-small-desktop-up {
         max-width: 100%;
      }
   }
}

.description {
   display: flex;
   flex-direction: column;
   row-gap: 19px;

   &__body {
      font-size: 1.06em;
      line-height: 150%;
      padding-right: 300px;
      // text-indent: 60px;
   }
}

.trailer {
   &__video {
      // flex: 1 1 400px;
      position: relative;
      // padding: 0px 0px 56% 0px;
      // aspect-ratio: 16 / 9;
      // max-width: 400px;
      width: calc($trailer_width * 0.9);
      height: calc($trailer_height * 0.9);
      // max-width: 320px;
      // min-height: 180px;
      margin: 25px 0px 0px 0px;

      iframe {
         object-fit: cover;
         width: 100%;
         height: 100%;
         position: absolute;
         top: 0;
         left: 0;
      }
   }
}

.carousel {
   display: flex;
   flex-direction: column;
   row-gap: 23px;

   //   svg {
   //     height: 40px;
   //     width: 40px;
   //     color: $main-color;
   //   }
}
