@import "../../../styles/media_queries";
@import "../../../styles/colors";


$trailer_width: 476px;
$trailer_height: 267px;

.anime-details {
  //   background-color: var(--background-secondary);
  // background-color: rgba(238, 243, 241, 0.9);
  // color: rgb(255, 255, 255);
  padding: 60px 0px 0px;

  @include for-small-desktop-up {
        &__main {
          max-width: 100%;
        }
    
        &__sidebar {
          display: none;
        }
  }

  &__container {
    display: flex;
    column-gap: 90px;
    align-items: flex-start;
    justify-content: space-between;
    //   flex-direction: row;
  }

  &__main {
    max-width: 68%;
    // flex: 0 1 70%;
    display: flex;
    flex-direction: column;
   
    & > div{
        margin-bottom: 100px;
    }

    & > div:last-child{
        margin-bottom: 70px;
    }

    @include for-small-desktop-up {
      max-width: 100%;
    }
  }

  &__sidebar {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    // min-width: 603px;
    max-width: 486px;
    justify-self: flex-end;

    @include for-small-desktop-up {
      display: none;
    }
  }
}

.characters {
  display: flex;
  flex-direction: column;
  row-gap: 27px;

  max-width: 937px;

  svg {
    height: 35px;
    width: 35px;
    color: $main-color;
  }

  &__rows {
    // display: grid;
    // column-gap: 30px;
    // row-gap: 30px;

    // grid-template-columns: repeat(6, 112px);
    // grid-template-columns: minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px);
    // grid-template-columns: auto auto auto auto auto;
  }
}

.description {
  display: flex;
  flex-direction: column;
  row-gap: 19px;

  &__body {
    font-size: 1.06em;
    line-height: 150%;
    padding-right: 300px;
    // text-indent: 60px;
  }
}

.trailer {
  &__video {
    // flex: 1 1 400px;
    position: relative;
    // padding: 0px 0px 56% 0px;
    // aspect-ratio: 16 / 9;
    // max-width: 400px;
    width: calc($trailer_width * 0.9);
    height: calc($trailer_height * 0.9);
    // max-width: 320px;
    // min-height: 180px;
    margin: 25px 0px 0px 0px;

    iframe {
      object-fit: cover;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
}

.rating {
    display: flex;
    flex-direction: column;
    row-gap: 24px;

    &__rate {
        max-width: 500px;
    }

    &__row {
        display: flex;
        column-gap: 45px;
        // height: 128px;
        margin-bottom: 10px;
    }

    &__column {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        & > span:first-child {
            font-size: 2.6em;
        }

        & > span:last-child {
            font-size: 0.95em;
            color: var(--text-secondary);
        }
    }

    &__review {
        display: flex;
        column-gap: 8px;
        text-align: center;
        vertical-align:middle;
        align-items: center;
        justify-content: center;
        font-weight: 600;


        background-color: rgb(225, 225, 225);
        border-radius: 25px;
        font-size: 0.98em;
        transition: all 0.2s;
        line-height: 120%;
        padding: 8px 20px;
        max-width: 200px;
        height: 39px;
        cursor: pointer;
        user-select: none;

        &:hover {
          //   background-color: rgb(169, 43, 43);
          //   background-color: ;
          opacity: 1;
          transform: scale(1.01);
        }

        svg {
            height: 14px;
        }
    }
}

.carousel {
  display: flex;
  flex-direction: column;
  row-gap: 23px;

  svg {
    height: 40px;
    width: 40px;
    color: $main-color;
  }
}

.skeleton__item-small {
  width: 466px;
  height: 139px;
  margin-bottom: 14px;
}

