@import "../../../styles/media_queries";
@import "../../../styles/colors";

.carousel-block {
   padding: 40px 0px 90px;
   background-color: var(--background-200);

   &__body {
      display: flex;
      flex-direction: column;
      row-gap: 50px;
   }
}


.skeleton {
   &__big {
      width: 1710px;
      height: 548px;
      // border-radius: 19px;
      // 182
      // 312

      @include for-small-desktop-up {
         width: 1210px;
         height: 448px;
      }
   }

   &__small {
      width: 182px;
      height: 314px;
      border-radius: 20px;
   }
}
