@import "../../../styles/media_queries";
@import "../../../styles/colors";

.carousel-block {
  padding: 0px 0px 90px 0px;

  &__body {
    display: flex;
    flex-direction: column;
    row-gap: 100px;
  }
}

.animeItemBig {
}

.carousel-item__big {
  // background-color: var(--background-secondary);
  // min-height: 700px;
  padding: 40px 0px 60px;
  margin-bottom: 50px;

  background-color: var(--background-primary);
  background-image: url("../../../assets/images/diagmonds.webp");
}

.skeleton {
  &__big {
    width: 1710px;
    height: 548px;
    // border-radius: 19px;
    // 182
    // 312

    @include for-small-desktop-up {
      width: 1210px;
      height: 448px;
    }
  }

  &__small {
    width: 182px;
    height: 312px;
    border-radius: 20px;
  }
}
