.input {
   width: 250px;
   display: flex;
   flex-direction: column;
   row-gap: 12px;

   h3 {
      font-weight: 600;
      font-size: 1.1em;
   }

   &__slider {
    //   background-color: var(--background-primary);
   }
}
