$width: 423px;
$height: 600px;

.content {
    cursor:zoom-in;
    padding: 25px;
    user-select: none;
    position: relative;
    width: $width;
    height: $height;
    // margin-top: 70px;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.large {
    width: calc($width * 1.55);
    height:  calc($height * 1.55);
}