@import "../../../styles/media_queries";

$width: 190px;
$height: 268px;

.anime-list {
   // z-index: 99;

   &__grid {
      display: grid;
      // grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
      grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
      // grid-template-rows: repeat(auto-fill, minmax(calc($height * 0.85), calc($height * 1.05)));
      // grid-template-rows: ;
      // grid-template-columns: minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px), minmax(130px, 227px);
      // grid-template-columns: auto auto auto auto auto;
      column-gap: 25px;
      row-gap: 35px;

      @media (max-width: 1790px) {
         grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
      }

      @include for-hd {
         grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
      }

      @include for-tablet-landscape-up {
         grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      }

      @include for-phone-only {
         grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
      }
   }

   &__item {
      // position: relative;
      border-radius: 14px;
      transition: 0.2s ease-in-out;
      // max-width: calc($width * 0.85);
      // width: 100%;

      // width: 100%;
      // height: 100%;

      cursor: pointer;

      &:hover {
         // box-shadow: 0px -1px 5px 3px rgba(85, 85, 85, 0.5);
         // transform: scale(1.02);
         // background: -webkit-linear-gradient(318deg, #1c1c1c,#181818);
         // background: linear-gradient(318deg, #161616,#1f1f1f);
         // color: white;
      }
   }
}

.empty {
   font-size: 1.8em;
   font-weight: 600;
   text-align: center;
   margin: 30px 0px 0px 0px;
}

// @media (max-width: 1820px) {
//     .anime-list {
//         // max-width: 500px;
//         // height: 30vw;

//         &__grid {
//             grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
//         }

//         &__item {
//             height: 23vw;

//         }
//     }
// }

// @media (max-width: 1675px) {
//     .anime-list {
//         // max-width: 500px;
//         // height: 30vw;

//         &__grid {
//             grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
//         }

//         // &__item {
//         //     height: 27vw;

//         // }
//     }
// }

// @media (max-width: 1510px) {
//     .anime-list {
//         // max-width: 500px;
//         // height: 30vw;

//         &__grid {
//             grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
//         }

//         // &__item {
//         //     height: 27vw;

//         // }
//     }
// }

// @media (max-width: 1390px) {
//     .anime-list {
//         // max-width: 500px;
//         // height: 30vw;

//         &__grid {
//             grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
//         }

//         // &__item {
//         //     height: 32vw;

//         // }
//     }
// }

// //! Filter - display: none
// @media (max-width: 1160px) {
//     .anime-list {
//         // max-width: 500px;
//         // height: 30vw;

//         &__grid {
//             // grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
//         }

//         // &__item {
//         //     height: 36vw;

//         // }
//     }
// }

// @media (max-width: 920px) {
//     .anime-list {

//         // &__item {
//         //     height: 48vw;
//         // }
//     }
// }
