.dropmenu {
    width: inherit;

    &__btn {
        background-color: rgb(181, 62, 84);
        font-size: 17px;
        width: inherit;
        padding: 7px 15px;
        text-align: center;

        cursor: pointer;
    }

    &__options {

    }
}