.form {
   border-radius: 7px;
   width: 100%;

   //    max-width: 970px;

   background-color: var(--background-300);
   box-shadow: var(--box-shadow-primary);
   padding: 30px 35px;

   & > * {
      width: 70%;
      //   max-width: 700px;
   }

   &__title {
      margin-bottom: 40px;
      font-size: 1.3em;
   }

   &__column {
      display: flex;
      flex-direction: column;
      row-gap: 35px;
   }

   &__inputs {
      display: flex;
      flex-direction: column;
      width: 100%;
      //   max-width: 700px;
   }

   &__row {
      display: flex;
      column-gap: 50px;
      align-items: center;
   }

   &__user-data {
      margin-bottom: 8px;
      font-size: 0.9em;
      color: var(--text-secondary);
   }

   &__about {
      display: flex;
      flex-direction: column;
      row-gap: 10px;
   }

   &__textarea {
      background-color: var(--background-100);
      color: var(--text-secondary);
      font-size: 1em;
      resize: vertical;
      min-height: 140px;
      max-height: 700px;
      height: 140px;
      padding: 10px 17px;
      border-radius: 5px;
      width: 100%;

      margin-bottom: 30px;

      &:focus {
         outline: none;
      }
   }

   &__btn {
      margin-left: auto;
      background-color: rgb(58, 177, 25);
      color: rgb(235, 235, 235);
      padding: 12px 25px;
      width: 100%;
      max-width: 140px;
      border-radius: 7px;
      cursor: pointer;
      font-weight: 600;
      font-size: 1.05em;
      margin-top: 45px;

      &:hover {
         opacity: 0.9;
      }
   }
}
