@import "../../styles/colors";

.rating {
  display: flex;
  flex-direction: column;
  row-gap: 7px;

  &__body {
    display: grid;
    justify-items: center;
  }

  &__footer {
    display: flex;
    align-items: center;
    // justify-content: center;
    padding: 11px 0 0;
  }

  &__user-score {
    font-size: 1.1em;
    display: none;
  }

  &__btn {
    padding: 9px 10px;
    background-color: red;
    cursor: pointer;
    border-radius: 19px;
    width: 101.6px;
    text-align: center;
    user-select: none;
    justify-self: center;
    margin-top: 11px;
    color: $white;
    margin: 0 auto;
  }
}

.show {
    column-gap: 60px;
    padding: 20px 0 0;

  .rating {
    &__user-score {
      display: inline-block;
      margin-left: 10px;
    }

    &__btn {
        margin: 0 0;
    }
  }
}
